go 1.25.6

use (
	.
	./dummies/go
	./libs/go-mcp
	./libs/go-mcp/command/huh
	./packages/get-hubbed
	./packages/grit
	./packages/lux
	./packages/potato
	./packages/spinclass
	./packages/tap-dancer/go
)
